.DS_Store
.obsidian/workspace
.obsidian\workspace
.obsidian/workspace.json
.obsidian\workspace.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian\plugins\remember-cursor-position\cursor-positions.json
.obsidian/plugins/remember-cursor-position/cursor-positions
.obsidian\plugins\remember-cursor-position\cursor-positions
.obsidian/plugins/recent-files-obsidian/data.json
.obsidianmobile/
.sync/
.sync\